html {
    background-color: #dcdcdc;
    color: #ffffff;
    font-size: 62.5%;
    min-height: 100vh;
    color-scheme: light;
}

* {
    line-height: 1.2em;
}

body {
    background-color: #4d7c8a;
    font-size: 1.8rem;
    max-width: 40em;
    margin: 1em auto;
    padding: 2em;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 2.0rem;
}

a:link, a:visited {
    color: #36c;
    text-decoration: none;
}

a:active, a:hover, a:focus {
    text-decoration: underline;
    text-underline-offset: 0.3em;
}
