@font-face {
    font-family: "Qahiri";

    /*noinspection CssUnknownTarget*/
    src: url("/static/fonts/Qahiri-Regular.ttf");
}


html {
    background-color: #dcdcdc;
    color: #ffffff;
    font-size: 62.5%;
    min-height: 100vh;
    color-scheme: light;
}

* {
    line-height: 1.2em;
}

body {
    font-family: sans-serif;
    font-size: 1.8rem;
    max-width: 40em;
    margin: 1em auto;
}

header {
    max-width: 40em;
    background-color: #4d7c8a;
    padding: 1em;
    text-align: center;
    border-radius: 4px;
    margin: auto;
}

#ar {
    color: #212121;
    font-size: 48px;
    font-family: "Qahiri";
}

.info-box {
    background-color: #ededed;
    border-radius: 4px;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #555;
    font-weight: 100;
    font-family: consolas;
    max-width: 15em;
    /*border: 2px solid #4d7c8a;*/
    display: flex;
}

#inner-text {
    margin: auto 0.5em;
}

.icon {
    width: 42px;
    /*padding: 5px;*/
    /*margin-right: 10px;*/
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 2.0rem;
}

a:link, a:visited {
    color: #36c;
    text-decoration: none;
}

a:active, a:hover, a:focus {
    text-decoration: underline;
    text-underline-offset: 0.3em;
}
