.pc-window {
    display: flex;
    gap: 10px;
    padding: 10px;
    align-content: space-between;
    flex-wrap: wrap;
}

#console {
    flex-grow: 1;
}


#glorp-feeder {
    height: 100px;
}

#progress-bar {
    display: block;
    height: 20px;
    width: 100px;
}

#bars {
    align-self: center;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-left: 260px;
    flex-grow: 1;
    margin-right: 10px;

    progress {
        width: auto;
        flex-grow: 1;
    }
}