@font-face {
    font-family: "Qahiri";

    /*noinspection CssUnknownTarget*/
    src: url("/static/fonts/Qahiri-Regular.ttf");
}


html {
    background-color: #dcdcdc;
    color: #ffffff;
    font-size: 62.5%;
    min-height: 100vh;
    color-scheme: light;
}

* {
    line-height: 1.2em;
}

body {
    font-family: sans-serif;
    font-size: 1.8rem;
    box-sizing: border-box;
    /*max-width: 40em;*/
    margin: 1em 1em;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 95vh;
}

.center-container {
    /*padding: 0 20px;*/
    width: 40em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    /*max-width: 40em;*/
    background-color: #4d7c8a;
    padding: 1em;
    text-align: center;
    border-radius: 4px;
    width: 100%;
    border: inset;
    box-sizing: border-box;
}

#ar {
    color: #212121;
    font-size: 48px;
    font-family: "Qahiri";
}

.info-box {
    background-color: #ededed;
    border-radius: 4px;
    padding: 0 0.4em;
    margin: 0;
    font-weight: 100;
    font-family: consolas;
    border: inset;
    display: flex;
    width: 14em;
    height: 50px;
}

.status-grid {
    display: flex;
    gap: 8px;
    margin: 1em 0;
    flex-wrap: wrap;
}

.status-text {
    color: #555;
    margin: auto 0.5em;
}

.icon {
    width: 42px;
    display: block;
}

.icon-container {
    display: inline;
    height: 100%;
    width: 3em;
    align-content: end;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 2.0rem;
}

a:link, a:visited {
    color: #36c;
    text-decoration: none;
}

a:active, a:hover, a:focus {
    text-decoration: underline;
    text-underline-offset: 0.3em;
}

.globe-container {
    width: 180px;
    height: 140px;

    background-image: url("/static/images/earthspin.gif");
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 4px;
    border: 5px inset;
    background-position-x: -66px;
}

.glorp-globe {
    margin: auto;
    align-content: center;
    width: 100%;
    height: 100%;
    /*border-radius: 100%;*/
    overflow: hidden;
    position: relative;
}

.glorp-img {
    background-image: url("/static/images/glorp_shiny.png");
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    /*border-radius: 100%;*/
    bottom: -10px;
}

.glorp-text {
    color: #a02e7e;
    padding: 10px 0;
    font-style: italic;
    font-family: ariel;
}

.circle::before {
    border-radius: 100%;
    content: '';
    background-image: linear-gradient(to right, #c2589e 0%, #14889d 100%);
    top: -7px;
    left: -7px;
    bottom: -7px;
    right: -7px;
    position: absolute;
    z-index: -1;
}

.nav {
    width: 11em;
    border: 3px inset;
    /*position: relative;*/
    /*top: 1em;*/
    /*bottom: 1em;*/
    /*left: 1em;*/
    text-decoration: none;
    list-style: none;

    ul {
        padding: 7px;
        margin: 2px 0;
    }

    li {
        list-style: none;
        border: 4px outset white;
        height: 40px;
        margin-bottom: 10px;
        /*border-color: #c2589e;*/
    }

    a {
        /*background-color: #ccc;*/
        width: 100%;
        height: 100%;
        display: block;
        text-align: center;
        align-content: center;
        text-decoration: none;
        /*color: #14889d;*/
        color: white;
        cursor: pointer;
        background-color: #e186b5;
    }

    a:hover {
        background-color: #ddd;

    }
}

@media (max-width: 860px) {
    .container {
        flex-direction: column;
    }

    header {
        width: auto;
        /*grid-area: 1 / span 6;*/
    }

    .info-box {
        width: auto;
        max-width: 100%;
    }

    .center-container {
        width: 100%;
        padding: 0;
    }

    .globe-container {
        width: auto;
        padding: 0;
    }

    .nav {
        position: absolute;
        bottom: 1em;
        left: 1em;
        right: 1em;
        padding: 0;
        width: auto;
        display: flex;
        flex-direction: column;
        /*width: 1em;*/
        /*grid-area: 2 / span 1;*/
    }
}

/*@media (max-width: 768px) {*/
/*    header {*/
/*        !*width: 6em;*!*/
/*        !*grid-area: 1 / span 6;*!*/
/*    }*/

/*    .nav {*/
/*        grid-area: 2 / span 1;*/
/*    }*/

/*    .content {*/
/*        grid-area: 2 / span 4;*/
/*    }*/
/*}*/